@import '~style/helpers';

.container {
	display: flex;
	flex-direction: column;
	background-color: lightblue;
	// background-image: url('../../assets/backgrounds/rain-ipad.jpg');
	color: #fff;
	width: 414px;
	height: 700px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
	border:1px solid black;
}

.title {

	margin-top: -80px;
	height:13%;
	font-size: 2.8em;
	color:white;
	text-align: center;
	border:1px solid black;
	background-color: #003153;
}

.searchbar{
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 4%;
	padding-top: 2%;
	font-size:1.0em;

}

.searchbar > table {
	background-color: white;
}

.searchbar > table, th, td{
border-collapse: collapse;
border: 1px solid black;
color:black;
table-layout: fixed;
}

.datandtime{
	padding-right: 3%;
	padding-left: 3%;
	padding-bottom: 4%;

}

.datandtime > table, th, td{
border-collapse: collapse;
// border: 1px solid black;
color:black;
table-layout: fixed;
}

.location{
padding-right: 7%;
padding-left: 7%;
padding-bottom: 4%;
}

.location > table, th, td{
border-collapse: collapse;
border: 1px solid black;
color:black;
table-layout: fixed;
}

.details {
	flex: 4;
	border:1px solid black;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;
	color: black;
	border:1px solid black;
}

.maininfo {
padding-right: 3%;
padding-left: 3%;
padding-bottom: 4%;
}
.maininfo > table, th,td {
border-collapse: collapse;
border: 1px solid black;
color:black;
table-layout: fixed;
}

.conditions {
	flex: 1;
	font-size: 1em;
	color:black;
	border:1px solid black;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -12px;
	color: black;
	border:1px solid black;
}

.hourlyforcast{
	padding-right: 3%;
	padding-left: 3%;
}

.hourlyforcast > table, th, td{
	border-collapse: collapse;
	border: 1px solid black;
	color:black;
	table-layout: fixed;
}

.suggestionbox{
	padding-right: 3%;
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.suggestionbox > table {
		background-color: white;
	}

.suggestionbox > table, th, td {
	border: 1px solid black;
	color:black;
	table-layout: fixed;
	border-collapse: collapse;
}

.navbar{
	padding-top:0%;
	height:"87px";
}
.navbar > table, th, td{
border-collapse: collapse;
border: 2px solid navy;
color:black;
table-layout: fixed;
}

.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
