@import '~style/helpers';

@text_color: black;
@border_color: black;
@border_color_nav: navy;
@text_color_dark: white;
@border_color_dark: #6DA4CC;
@border_color_nav_dark: lightgrey;
@box-shadow: inset 0 0 10px rgba(0,0,0,.5);
@box-shadow_dark: #6DA4CC 0px 0px 10px inset;
/*Colors - in light mode*/

//Background color for container in light mode.
.light .container{
	background: linear-gradient(lightblue,hsl(300,50%,80%));
}

//Background color for container in dark mode.
.dark .container{
	background: linear-gradient(black,hsl(210,90%,52%));
}

//properties of tittle bar in light mode. eg. color of text, border, and background color.
.light .title{
	color:white;
	border:3px solid #3F97B4;
	background-color: #003153;
}

//properties of tittle bar in Dark mode. eg. color of text, border, and background color.
.dark .title{
	color:white;
	border:3px solid #003153;
	background-color: #3F97B4;
}

//Color of text for temperture in light mode.
.light .temperature{
	color: @text_color;
}

//Color of text for temperture in Dark mode.
.dark .temperature{
	color: @text_color_dark;
}

//Color of the text for date and time in light mode.
.light .datandtime{
	color: @text_color;
}

//Color of the text for date and time in Dark mode.
.dark .datandtime{
	color: @text_color_dark;
}

//border of the input box.
.searchbar input{
	border: 1px solid #fff;
	border-bottom: 2px solid #fff;
}

//Box properties of the hourlyforcast in dark mode.
.dark .hourlyforcastday{
	border: 1px solid @border_color_dark;
	color:@text_color_dark;
	box-shadow: @box-shadow_dark;
}

//Box properties of the hourlyforcast in light mode.
.light .hourlyforcastday{
	border: 1px solid @border_color;
	color:@text_color;
	box-shadow: @box-shadow;
}
//left box border for first child in hourly forcast in dark mode.
.dark .hourlyforcast > div:first-child{
	border-left: 1px solid @border_color_dark;
}

//left box border for first child in hourly forcast in light mode.
.light .hourlyforcast > div:first-child{
	border-left: 1px solid @border_color;
}

//properties of suggestionbox and weeklybox in light mode. including border, color of text and background color.
.light .suggestionbox,
.light .weeklybox{
	border: 1px solid @border_color;
	color: black;
	background-color: white;
}
//properties of suggestionbox and weeklybox in Dark mode. including border, color of text and background color.
.dark .suggestionbox,
.dark .weeklybox{
	border: 1px solid @border_color_dark;
	color: black;
	background-color: white;
}
//left border color and line for navbar in light mode.
.light .navbar > :first-child{
	border-left:  1px solid @border_color_nav;
}
//left border color and line for navbar in Dark mode.
.dark .navbar > :first-child{
	border-left:  1px solid @border_color_nav_dark;
}

//Border and Text color for navigation bar for light mode.
.light .navbar > div{
	border: 1px solid @border_color_nav;
	color:@text_color;
}

//Border and Text color for navigation bar for Dark mode.
.dark .navbar > div{
	border: 1px solid @border_color_nav_dark;
	color:@text_color_dark;
}

// Name of the city box properties for light mode.
.light .city{
	color: @text_color;
	border:1px solid @border_color;
	box-shadow: @box-shadow;
}

//Name of the city box properties for Dark mode.
.dark .city{
	color: @text_color_dark;
	border:1px solid @border_color_dark;
	box-shadow: @box-shadow_dark;
}

//properties including border, color and box affects for chances of rain , wind and cloud coverage BOX for light mode.
.light .maininfo > div{
	border: 1px solid @border_color;
	color: @text_color;
	box-shadow: @box-shadow;
}

//properties including border, color and box affects for chances of rain , wind and cloud coverage BOX for Dark mode.
.dark .maininfo > div{
	border: 1px solid @border_color_dark;
	color: @text_color_dark;
	box-shadow: @box-shadow_dark;
}

//Text color for weeklyTable in Dark mode.
.dark .weeklyTable thead{
	color: @text_color_dark;
}

//Text color for weeklyTable in Dark mode and light mode.
.light .weeklyTable,
.dark .weeklyTable{
	color: @text_color;
}

//Background color for first child in first row and first column both in dark mode and light mode.
.light .weeklyTable > tbody tr td:first-child div,
.dark .weeklyTable > tbody tr td:first-child div{
	background-color: #e1deea;
}

//Background color for second column  both in dark mode and light mode.
.light .weeklyTable > tbody tr td:nth-child(2) div ,
.dark .weeklyTable > tbody tr td:nth-child(2) div{
	background-color: #c4bdd8;
}
//Background color for third column  both in dark mode and light mode.
.light .weeklyTable > tbody tr td:nth-child(3) div,
.dark .weeklyTable > tbody tr td:nth-child(3) div{
	background-color: #a49cc2;
}

//Background color for fourth column  both in dark mode and light mode.
.light .weeklyTable > tbody tr td:nth-child(4) div,
.dark .weeklyTable > tbody tr td:nth-child(4) div{
	background-color: #877cae;
}

//navigation background color.
.light .navbar > div,
.dark .navbar > div {
	background-color:grey;
}

//Box shadow for weekly weather forecast.
.light .weeklyTable > tbody tr td div,
.dark .weeklyTable > tbody tr td div{
	box-shadow: @box-shadow;
}

/*Position*/
.light .weeklyTable,
.dark .weeklyTable {
	margin-left: auto;
	margin-right: auto;
	margin-top:35px;
	margin-bottom: 40px;
}
//Positioning for row and columns inside the weeklyTable.
.light .weeklyTable > tbody tr td:nth-child(-n+3) div,
.dark .weeklyTable > tbody tr td:nth-child(-n+3) div{
	margin: 1px;
  height: 52px;
  padding-top: 15px;
}

// sizing and Positioning of  text inside weekly table.
.light .weeklyTable > thead td,
.dark .weeklyTable > thead td{
	font-size:1em;
	font-weight: 500;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
}
// weeklyTable temperature field properties.
.light .weeklyTable > tbody tr td:nth-child(2) div:after,
.dark .weeklyTable > tbody tr td:nth-child(2) div:after {
	content: "°";
	margin-right: 0.15em;
  margin-top: -0.35em;
	font-size: 0.5em;
	font-weight: 500;
	display: inline-block;
	padding-top: 5px;
	vertical-align: top;
}

//container properties for both modes.
.light .container,
.dark .container{
	display: flex;
	flex-direction: column;
	color: #fff;
	width: 414px;
	height: 700px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}
//properties of title in both modes.
.light .title,
.dark .title {
	margin-top: -80px;
	height:13%;
	font-size: 2.8em;
	text-align: center;
}
//Positioning of searchbar in both modes.
.light .searchbar,
.dark .searchbar{
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 4%;
	margin-top: 2%;
	font-size:1.0em;
}
//Positioning of searchbar for both modes.
.light .searchbar input,
.dark .searchbar input{
	width:280px !important;
	float:left;
	font-size: 1rem;
	font-weight: 300;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding: 10px 1rem;
	margin:auto;
}
//Positioning left  for  search bar.
.light .searchbar> div,
.dark .searchbar> div{
	float:left;
}
//searchbar button properties.
.light .searchbar>div button,
.dark .searchbar>div button{
	border-left:0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
//hovering function in search bar.
.light .searchbar>div:nth-last-child(1) button:hover,
.dark .searchbar>div:nth-last-child(1) button:hover{
	border-left:0px;
}
//searchbar button properties.
.light .searchbar>div:nth-last-child(2) button,
.dark .searchbar>div:nth-last-child(2) button{
	border-left:0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
//display properties
.light .display,
.dark .display{
	clear:both;
	padding: 10px;
	margin-left: 2.9%;
	margin-right: 2.9%;
}
// Date and time Positioning.
.light .datandtime,
.dark .datandtime{
	padding-right: 3%;
	padding-bottom: 4%;
	margin-left: 10px;
	margin-top: 25px;
  float: left;
}
//Positioning of image.
.light .display img,
.dark .display img{
	float:right;
	width: 100px;
	margin-right: 10px;
}

.light .details,
.dark .details  {
	flex: 4;
}
//city box properties.
.light .city,
.dark .city {
	flex: 1;
	clear:both;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.7em;
	font-weight: 400;
	width:390px;
	margin-left: auto;
	margin-right: auto;
}
//Main info including chance of rain, wind and cloud coverage box properties.
.light .maininfo,
.dark .maininfo{
	clear:both;
	margin-top: 6.6%;
	width: 390px;
	margin-left: auto;
	margin-right: auto;
}
// chances of rain properties.
.light .maininfo >  :nth-child(1),
.dark .maininfo >  :nth-child(1){
 width:155px;
 height:120px;
 float:left;
 margin-bottom: 4%;
 border-right: 0px;
 padding-top: 15px;
}
// wind speed image Position.
.light .maininfo > :nth-child(2) img,
.dark .maininfo > :nth-child(2) img{
	float:left;
	margin-left: 25px;
	width:40px;
}
// Floating wind speed box to the right.
.light .maininfo > :nth-child(2) div:first-child,
.dark .maininfo > :nth-child(2) div:first-child{
	float:right;
}

// Positioning of wind speed.
.light .maininfo > :nth-child(2),
.dark .maininfo > :nth-child(2)
{
	padding-top: 10px;
  width:235px;
	height: 60px;
	float:right;
}
//cloud coverage Positioning
.light .maininfo> :nth-child(3) div :first-child,
.dark .maininfo> :nth-child(3) div :first-child{
	float: left;
}

// cloud coverage image Positioning.
.light .maininfo> :nth-child(3) img,
.dark .maininfo> :nth-child(3) img{
	float: right;
	padding-right: 20px;
}
//cloud coverage box properties.
.light .maininfo> :nth-child(3),
.dark .maininfo> :nth-child(3)
{
	padding-top: 10px;
	margin-bottom: 4%;
	width:235px;
	height: 60px;
	border-top: 0px;
	float:right;
}
//display the 3 box as block.
.light .maininfo > div,
.dark .maininfo > div{
	display: block;
}
//current temperture display properties.
.light .tempdisplay,
.dark .tempdisplay{
	float:right;
	display: block;
	width: 130px;
}
//current temperture display properties.
.light .tempdisplay span span,
.dark .tempdisplay span span{
	font-weight: 500;
}
//current temperture display properties.
.light .tempdisplay span span:before,
.dark .tempdisplay span span:before{
	content: "°";
	margin-right: 0.15em;
  margin-top: -0.35em;
	font-size: 1em;
	font-weight: 200;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
//temperture properties
.light .tempdisplay span button:before,
.dark .tempdisplay span button:before{
	content: "°";
	margin-right: 0.15em;
  margin-top: -0.75em;
	font-size: 1em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
//current temperture display properties.
.light .tempdisplay span,
.dark .tempdisplay span
{
	padding: 1px 0.25em;
}
// Temperture Text sizing and postitioning.
.light .temperature,
.dark .temperature{
	flex: 2;
	margin-top: 0;
	font-size: 3.5em;
	font-weight: 400;
	letter-spacing: -5.5px;
	padding-left: 10px;
}
//hourly temp  content properties .
.light .temperaturehourly,
.dark  .temperaturehourly{
	flex: 2;
	margin-top: -10px;
	font-size: 2.1em;
	font-weight: 300;
	letter-spacing: -5px;
}
//hourlyforcast box positioning .
.light .hourlyforcast,
.dark .hourlyforcast{
	margin-left: auto;
  margin-right: auto;
  width: fit-content;
	clear:both;
}
// hourly forcast box properties.
.light .hourlyforcastday,
.dark .hourlyforcastday{
	border-left: 0px;
	width: 78px;
	float:left;
	table-layout: fixed;
	margin-bottom: 10px;
	padding-bottom: 7px;
	padding-top: 7px;
}
// weekly box properties
.light .weeklybox,
.dark .weeklybox{
		height:45px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 3%;
		width:400px;
		display: block;
		clear:both;
		margin-bottom: 3%;
	}
//suggestionbox properties
.light .suggestionbox,
.dark .suggestionbox{
		height:65px;
		margin-left: 3%;
		margin-right: 3%;
		padding: 3%;
		display: block;
		clear:both;
		margin-bottom: 3%;
	}
//nav bar padding.
.light .navbar,
.dark .navbar{
	padding-top:0%;

}
//nav bar
.light .navbar > div,
.dark .navbar > div{
	width: 138px;
	height:50px;
	border-left:0px;
	float:left;
}
//button img padding for nav bar.
.light .navbar > div img,
.dark .navbar > div img{
	padding-top : 15px;
}

//degree properties.
.light .filled:after,
.dark .filled:after  {
	content: "°";
	margin: 0 0 0 0.5rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
//degree properties for hourly forecast. 
.light .filledhourly:after,
.dark .filledhourly:after {
	content: "°";
	margin: 0 0 0 0.25rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 5px;
	vertical-align: top;
}
